{% from "_macros.html" import error_handle %}
{% extends 'layout.html' %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='form_offer.css') }}" rel="stylesheet" type="text/css">
{% endblock %}


{% block content %}
<div class="formwrapper">
    <h2 class="title">Volunteer Form</h2>
    <form method="POST" action="/offerform">
        {{ form.csrf_token }}
        <div class="form-field">{{ form.name.label }} {{ form.name(size=20) }} 
            {% if form.email.errors %}
                {{ error_handle(form.name) }}
            {% endif %}
        </div>
        <div class="form-field">{{ form.email.label }} {% if form.email.flags.required %}*{% endif %} {{ form.email }}
            {% if form.email.errors %}
                {{ error_handle(form.email) }}
            {% endif %}
        </div>
        <div class="form-field">{{ form.pronoun.label }} {{ form.pronoun }}
            {% if form.pronoun.errors %}
                {{ error_handle(form.pronoun) }}
            {% endif %}
        </div>
        <div class="form-field">{{ form.country.label }} {{ form.country }}
            {% if form.country.errors %}
                {{ error_handle(form.country) }}
            {% endif %}
        </div>
        {% for field in form %}
            {% if field.type == 'MultiCheckboxField' %}
                <div>
                    {{ field.label }} {{ field }}
                </div>
            {% endif %}
            {% if field.type == 'BooleanField' %}
                <div>
                    <label>
                        {{ field.label }}
                    </label>
                    {{ field }}
                </div>
            {% endif %}
        {% endfor %}
        {{ form.submit }}
    </form>
</div>
{% endblock %}



<!-- {% for field in form %}
<tr>
    <th>{{ field.label }} 
        {% if field.flags.required %}
            *
        {% endif %}
    </th>
    <td>
        {{ field }}
    </td>
</tr>
{% if form.name.errors %}
    <ul class="errors">
        {% for error in form.name.errors %}
            <li>{{ error }}</li>
        {% endfor %}
    </ul>
{% endif %}
{% endfor %} -->