<html>
  <head>
    <title>Knowledge call out form</title>
   <link rel="stylesheet" type="text/css" href="/static/style.css">
  </head>
  <body>
    <div id="container">
      <div class="pagetitle">
        <h1>Submit details below about the homeschool help you are after</h1>
      </div>
      <div id="main">
        <form action="showcall">
          <label for="name">Name</label>
          <input type="text" name="name"><br />
          <label for="email">Email address:</label>
          <input type="email" name="email"><br />
          <label for="age">Age of child:</label>
          <input type="name" name="agerange"><br />
          <label for="subject">Subjects required:</label>
          <input type="name" name="subjects"><br />
          <label for="comments">Comments:</label>
          <textarea name="comments"></textarea><br />
          <input type="submit">
        </form>
      </div>
    </div>
  </body>
</html>
