<!doctype html>
<html lang="en">

  <head>
    {% block styles %}{% endblock %}
    <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}" rel="stylesheet" type="text/css">
    <script src="https://kit.fontawesome.com/e3deaeba31.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,500" rel="stylesheet">
  </head>

  <body>
    <div class="container">
      {% block content %}{% endblock %}
    </div>
  </body>

</html>



{% if form.email.flags.required %}*{% endif %}